<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

     <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

      <%= t.include("partials/_nav.html") %>

      <div class="outer">

        <div class="header-wrapper-desktop">
          <div class='background-img'>
            <div class='over-img first'>
              <div class='title'>
                <div class='hed'>What happened at Lake Oroville?</div>
                <div class='byline'>By <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a>, and <a href="mailto:kalexander@sfchronicle.com">Kurtis Alexander</a>
                </div>
              </div>
              <%= t.include("partials/_title_social.html") %>
            </div>
          </div>
          <div class='caption'>Photo released by the California Department of Water Resources</div>
        </div>

        <div class="header-wrapper-mobile">
          <div class="image">
            <div class='inline-image'><img src='./assets/photos/oroville_now.jpg'></img></div>
            <div class='caption'>Photo released by the California Department of Water Resources</div>
          </div>
          <div class='hed'>What happened at Lake Oroville?</div>
          <div class='byline'>By <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a>, and <a href="mailto:kalexander@sfchronicle.com">Kurtis Alexander</a></div>
          <%= t.include("partials/_title_social.html") %>
        </div>

        <div class='text-class'>
          A wet winter brought to light problems at the nation’s tallest dam, which controls water delivered across the state. As storms raged in early February, dam operators from the state Department of Water Resources released heavy flows down the Feather River, but a crisis began when a crater opened on the main spillway. Days later, water poured over an emergency spillway – essentially a hillside – that had never been used. The erosion of the hillside prompted the evacuation of nearly 200,000 people downstream.
        </div>

        <div class="chart-hed graphic">Where is Lake Oroville?</div>
        <div class="deck">
          Lake Oroville, which was completed in 1968, is located in the Sierra Nevada foothills about 75 miles north of Sacramento in Butte County. The reservoir is the centerpiece of the California State Water Project, which supplies 29 urban and agricultural water agencies.
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville01.png'  id="flow-graphic"></img>
          </div>
        </div>

        <div class='text-class'>
          With 167 miles of shoreline, the reservoir can hold 3.5 million acre-feet of water. An acre-foot is the amount needed to cover an acre with a foot of water — enough to supply one or two households for a year. The lake stores rain and snow runoff, providing flood control for the region and hydroelectric power while releasing water down the Feather River for recreation, wildlife protection and the controlling of Sacramento-San Joaquin River Delta salinity levels.
        </div>

        <div class="chart-hed graphic">In drier times</div>
        <div class="deck">
          During the drought, Lake Oroville saw its level dip to historic lows. In this photo from Aug. 19, 2014, the reservoir was at 32 percent of capacity.
        </div>
        <div class="image">
          <div class='inline-image'><img src='http://ww2.hdnux.com/photos/57/43/16/12465037/3/1000x0.jpg'></img></div>
          <div class='caption'>Justin Sullivan, Getty Images</div>
        </div>

        <div class='pad-class'></div>
        <div class="chart-hed">Then the rains come</div>
        <div class="deck">
          The unusually wet winter pushed lake levels up through January, and in early February a series of warm storms barreled through. Through the end of February, the Oroville area had seen nearly 39 inches of rain, and the mountains that feed runoff to Lake Oroville were hit with similarly heavy snow.
        </div>
        <div id="setup-chart"></div>

        <div class='pad-class'></div>
        <div class="chart-hed">Water surges into Lake Oroville</div>
        <div class="deck">
          This season’s big storms caused an almost unprecedented inflow of water in the reservoir, peaking in early February at more than 150,000 cubic feet per second.
        </div>
        <div id="inflow-chart"></div>
        <div class="legend-container" id="legend-container">
          <div class="element bold">Years: </div>
          <div class="element"><div class="swath swath2010"><div class="legend-text">2010</div></div></div>
          <div class="element"><div class="swath swath2011"><div class="legend-text">2011</div></div></div>
          <div class="element"><div class="swath swath2012"><div class="legend-text">2012</div></div></div>
          <div class="element"><div class="swath swath2013"><div class="legend-text">2013</div></div></div>
          <div class="element"><div class="swath swath2014"><div class="legend-text">2014</div></div></div>
          <div class="element"><div class="swath swath2015"><div class="legend-text">2015</div></div></div>
          <div class="element"><div class="swath swath2016"><div class="legend-text">2016</div></div></div>
          <div class="element" id="element2017"><div class="swath swath2017"><div class="legend-text">2017</div></div></div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed">Lake level climbs</div>
        <div class="deck">
          The inflows of water caused Lake Oroville to fill toward its brim, which was great news for a drought-parched state but put pressure on dam operators to release water.
        </div>
        <div class="legend-container" id="legend-container-overlay">
          <div class="element long"><div class="swath long swathoutflow"><div class="legend-text long">2017 Outflow (kcfs)</div></div></div>
          <div class="element long"><div class="swath long swathreservoir"><div class="legend-text long">Reservoir level (% full)</div></div></div>
        </div>
        <div id="overlay-chart"></div>

        <div class="text-class">
          There are three main points at the Oroville Dam where water can be released downstream. Roughly 14,000 cubic feet of water per second can push through the hydroelectric plant at the base of the dam when operational. The main spillway is 3,000 feet long and 180 feet wide. It can release up to 200,000 cubic feet per second, though the Feather River can handle only about 150,000 cubic feet per second without flooding communities. The emergency (or auxiliary) spillway was built to accommodate overflow when the lake approaches its brim. But it sends water down a bare hillside.
        </div>

        <div class="chart-hed">Water releases grow</div>
        <div class="deck">
          As Lake Oroville filled, dam operators had to bump up releases down the main spillway, with some limitations. Sending more water down the spillway can stress it. Meanwhile, a maximum of 150,000 cubic feet per second can flow down the Feather River without flooding downstream communities.
        </div>
        <div id="outflow-chart"></div>
        <div class="legend-container" id="legend-container">
          <div class="element bold">Years: </div>
          <div class="element"><div class="swath swath2010"><div class="legend-text">2010</div></div></div>
          <div class="element"><div class="swath swath2011"><div class="legend-text">2011</div></div></div>
          <div class="element"><div class="swath swath2012"><div class="legend-text">2012</div></div></div>
          <div class="element"><div class="swath swath2013"><div class="legend-text">2013</div></div></div>
          <div class="element"><div class="swath swath2014"><div class="legend-text">2014</div></div></div>
          <div class="element"><div class="swath swath2015"><div class="legend-text">2015</div></div></div>
          <div class="element"><div class="swath swath2016"><div class="legend-text">2016</div></div></div>
          <div class="element" id="element2017"><div class="swath swath2017"><div class="legend-text">2017</div></div></div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed graphic">Crisis hits</div>
        <div class="deck">
          On Feb. 7, dam operators noticed an unusual flow down the main spillway, halted releases and saw that erosion had opened a crater in the main spillway. Officials reduced releases but had to continue them, causing the crater to grow even as storm runoff pushed the reservoir toward capacity.
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville_DAMAGE1.png' id="damage-graphic"></img>
          </div>
        </div>

        <div class='text-class'>
          On Feb. 11, water started to flow over the dam’s emergency spillway and onto a bare hillside for the first time. That’s because the lake reached the lip of the spillway at 901 feet above sea level. Years earlier, environmentalists had warned that the unlined emergency spillway was unsafe, but were rebuffed.
        </div>

        <div class="chart-hed graphic">Emergency spillway erodes</div>
        <div class="deck">
          While there is a concrete apron or weir at the top of the spillway, there is only a hillside below, and the water quickly chewed it up, while washing away a dam access road.
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville_EROSION1.png' id="erosion-graphic"></img>
          </div>
        </div>

        <div class="text-class">
          Water cascaded over the emergency spillway onto the bare hillside for a day and a half, with peak flows at 3 a.m. Feb. 12. Dam operators were shocked by the severe damage that quickly occurred, with the water carving gashes that threatened to extend back to the reservoir. Officials feared the erosion could cause the emergency spillway to fail, sending a catastrophic amount of water downstream, so they evacuated several communities and began to fortify the slope with boulders and poured concrete, while increasing releases from the damaged main spillway.
        </div>

        <div class="chart-hed graphic">Evacuation orders</div>
        <div class="deck">
          An estimated 200,000 people were forced to flee after the Butte County Sheriff’s Office initiated evacuation orders at about 4:45 p.m. Feb. 12, as damage continued to grow below the emergency spillway.
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville_evac_areas.png'></img>
          </div>
        </div>

        <div class='text-class'>
          Authorities initially said the emergency spillway could fail within an hour, but it held. The evacuation order first affected residents in low-lying areas of Butte County, but was expanded to places farther south along the Feather River, including Yuba City (Sutter County) and Marysville (Yuba County).
        </div>

        <div class="chart-hed graphic">Residents stranded</div>
        <div class="deck">
          Evacuated residents of the downstream communities were forced to stay with family members, friends or at emergency shelters. At the Butte County Fairgrounds in Chico, Oroville residents Georgia Robert King, Jerry Lee Huggins and Anna Gibson slept outside, because pets weren't allowed inside.
        </div>
        <div class="image">
          <div class='inline-image'><img src='https://hearst.merlinone.net/mx/thumbs2017/tdir16839/bx106_40d8_9.jpg'></img></div>
          <div class='caption'>Max Whittaker/Prime, Special to The Chronicle</div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed">Lake levels fall</div>
        <div class="deck">
          By releasing water down the damaged main spillway, and by taking advantage of a diminishing of the season’s big rainstorms, dam operators were able to bring the lake level down, calming the crisis.
        </div>
        <div class="legend-container" id="legend-container-overlay">
          <div class="element long"><div class="swath long swathoutflow"><div class="legend-text long">2017 Outflow (kcfs)</div></div></div>
          <div class="element long"><div class="swath long swathreservoir"><div class="legend-text long">Reservoir level (% full)</div></div></div>
        </div>
        <div id="outflow2-chart"></div>


        <div class="pad-class"></div>
        <div class="chart-hed">Evacuees return</div>
        <div class="deck">
          By Feb. 13, with the main spillway releasing 100,000 cubic feet of water per second, the water level dropped. It was clear the emergency spillway would not have to be used again, at least anytime soon. The evacuation order was lifted the afternoon of Feb. 14, and people streamed back to their homes.
        </div>
        <div class="image">
          <div class='inline-image midsize'><img src='http://ww2.hdnux.com/photos/57/13/07/12366309/3/1024x1024.jpg'></img></div>
          <div class='caption midsize'>Carlos Avila Gonzalez, The Chronicle </div>
        </div>

        <div class='text-class'>
          On Feb. 27, with the lake level down, dam operators were able to stop water releases down the devastated main spillway. That allowed geologists to begin inspecting the vast canyon that had been dug out of the earth by the heavy flows down the hillside. The California Department of Water Resources must now figure out how the crippled chute, which is as wide as a 15-lane freeway, can possibly be fixed by the end of the year — in time for the next rainy season. The job may cost hundreds of millions of dollars.
        </div>

        <div class="image">
          <div class='inline-image'><img src='https://hearst.merlinone.net/mx/thumbs2017/tdir16901/ax212_3508_9.jpg'></img></div>
          <div class='caption'>Photo released by the California Department of Water Resources</div>
        </div>

        <div class='text-class'>
          This year’s trouble isn’t over, though. While dam managers have been able to sufficiently release water from the lake down the crumbled main spillway, they worry that future runoff could test their success. Snowpack in the mountains is near record highs, and as it melts this spring, the lake’s inflow is likely to be large. The state has been working to restore the dam’s hydroelectric plant – which releases water downstream – while fortifying the hillside below the emergency spillway, just in case.
        </div>

        <div class="chart-hed">Taking stock of the snowpack</div>
        <div class="snow-info" id="snow-info">Up-to-date snowpack level:<div id="snowpack-num"></div></div>
        <div class="reservoir-info" id="reservoir-info">Up-to-date reservoir levels:</div>
        <div class="legend-container active" id="legend-container-final">
          <div class="element long"><div class="swath long swathtotal"><div class="legend-text long">Total reservoir capacity</div></div></div>
          <div class="element long"><div class="swath long swathfilled"><div class="legend-text long">Current reservoir storage</div></div></div>
        </div>
        <div id="future-chart"></div>

      </div>
    </div>

    <div id="credits-container">
      <div class="divider"></div>

      <div class="credits">
      <h2>Credits</h2>
      <div class="entry">Developers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
      <br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
      <div class="entry">Graphic designer:  <br>John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      <div class="entry">Reporter:  <br>Kurtis Alexander &bull; <a href="mailto:kalexander@sfchronicle.com">kalexander@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/kurtisalexander" target="_blank">@kurtisalexander</a></div>
      <div class="entry">Editors:  <br>Fernando Diaz  &bull; <a href="mailto:fdiaz@sfchronicle.com">fdiaz@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/thefuturewasnow" target="_blank">@thefuturewasnow</a>
      <br>Demian Bulwa  &bull; <a href="mailto:dbulwa@sfchronicle.com">dbulwa@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/demianbulwa" target="_blank">@demianbulwa</a>
      <br>Danielle Mollette-Parks  &bull; <a href="mailto:DMollette-Parks@sfchronicle.com">DMollette-Parks@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/daniellemparks" target="_blank">@daniellemparks</a>
      <br>Nicole Frugé  &bull; <a href="mailto:NFruge@sfchronicle.com">nfruge@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/PhotoFruge" target="_blank">@PhotoFruge</a></div>
      </div>

      <div class="divider bottom"></div>

      <div class="credits">
        <h2>About the data</h2>
        <div class="entry">Data is from <a href="http://cdec.water.ca.gov/" target="_blank">California Department of Water Resources.</a></div>
      </div>

      <div class="divider bottom"></div>

      <div class="dont-miss">
        <div class="story">
          <div class="padded">
          <a href="http://www.sfchronicle.com/brewerymap/" target="_blank">
            <img src="http://ww1.hdnux.com/photos/50/46/16/10642312/4/1200x760.jpg"></img>
          </a>
            <div class="small">NorCal Brewery Map</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/" target="_blank">
            <img src="http://ww2.hdnux.com/photos/45/61/62/9903285/4/1200x760.jpg"></img>
          </a>
            <div class="small">Top 100 Restaurants 2016</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="
      http://www.sfchronicle.com/lgbt-travel/" target="_blank">
            <img src="
      http://ww4.hdnux.com/photos/53/57/25/11466083/4/1200x760.jpg"></img>
          </a>
            <div class="small">LGBT Travel</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://www.sfchronicle.com/bayarea/place/article/San-Francisco-has-wealth-of-rooftop-public-9321535.php" target="_blank">
            <img src="http://ww1.hdnux.com/photos/53/01/62/11279512/4/1200x760.jpg"></img>
          </a>
            <div class="small">Finding SF's public rooftops</div>
          </div>
        </div>
      </div>

      <footer class="nav-bottom">
        <a class="logo" href="http://www.sfchronicle.com">
          <img src="./assets/logos/sf_logo_white.png"></img>
        </a>
      </footer>

    </div>

    <script>
      var waterData = <%= JSON.stringify(json.FlowData) %>;
      var slideData = <%= JSON.stringify(json.Slideshow) %>;
      var reservoirData = <%= JSON.stringify(json.ReservoirHeight) %>;
      var rainData = <%= JSON.stringify(json.OrovilleRain) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
