<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

     <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

      <%= t.include("partials/_nav.html") %>

      <div class="outer">

        <div class="header-wrapper-desktop">
          <div class='background-img'>
            <div class='over-img first'>
              <div class='title'>
                <div class='hed'>What happened at Lake Oroville?</div>
                <div class='byline'>By <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a>, and <a href="mailto:kalexander@sfchronicle.com">Kurtis Alexander</a>
                </div>
              </div>
              <%= t.include("partials/_title_social.html") %>
            </div>
          </div>
          <div class='caption'>Santiago Mejia, The Chronicle</div>
        </div>

        <div class="header-wrapper-mobile">
          <div class="image">
            <div class='inline-image'><img src='http://ww2.hdnux.com/photos/57/13/07/12486606/3/2000x0.jpg'></img></div>
            <div class='caption'>Santiago Mejia, The Chronicle</div>
          </div>
          <div class='hed'>What happened at Lake Oroville?</div>
          <div class='byline'>By <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a>, and <a href="mailto:kalexander@sfchronicle.com">Kurtis Alexander</a></div>
          <%= t.include("partials/_title_social.html") %>
        </div>

        <div class='text-class'>
          A wet winter brought to light problems at the nation’s tallest dam, which controls water delivered across California. As storms raged in early February, dam operators from the state Department of Water Resources released heavy flows down the Feather River, but a crisis began when a crater opened on the main spillway. Days later, water poured over an emergency spillway – essentially a hillside – that had never been used. The erosion of the hillside prompted the evacuation of nearly 200,000 people downstream.
        </div>

        <div class="chart-hed graphic">Where is Lake Oroville?</div>
        <div class="deck">
          Lake Oroville is located in the Sierra Nevada foothills about 75 miles north of Sacramento in Butte County. The reservoir is fed by mountain runoff from the forks of the Feather River and is the centerpiece of the California State Water Project, which supplies 29 urban and agricultural water agencies. The lake also provides flood control, generates hydroelectic power and helps control salinity in the Sacramento-San Joaquin River Delta.
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville_overhead_baseNEW.png'></img>
            <img src='./assets/graphics/oroville_overhead_baseNEW.png' id="flow-graphic"></img>
          </div>
        </div>

        <div class='pad-class'></div>
        <div class="chart-hed graphic">In drier times</div>
        <div class="deck">
          During the drought, Lake Oroville saw its level dip to historic lows. In this photo from Aug. 19, 2014, the reservoir was at 32 percent of capacity. When it is full, the reservoir can hold 3.5 million acre-feet of water. An acre-foot is the amount needed to cover an acre with a foot of water — enough to supply one or two households for a year.
        </div>
        <div class="image">
          <div class='inline-image'><img src='http://ww2.hdnux.com/photos/57/43/16/12465037/3/2000x0.jpg'></img></div>
          <div class='caption'>Justin Sullivan, Getty Images</div>
        </div>

        <div class='pad-class'></div>
        <div class="chart-hed">Then the rains come</div>
        <div class="deck">
          The unusually wet winter pushed lake levels up through January, and in early February a series of warm storms barreled through. By the end of February, the Oroville area had seen nearly 39 inches of rain, and the mountains that feed runoff to Lake Oroville were hit with similarly heavy snow.
        </div>
        <div id="setup-chart"></div>

        <div class='pad-class'></div>
        <div class="chart-hed">Water surges into Lake Oroville</div>
        <div class="deck">
          This season’s big storms caused an almost unprecedented inflow of water in the reservoir, peaking in early February at more than 150,000 cubic feet per second.
        </div>
        <div id="inflow-chart"></div>
        <div class="legend-container" id="legend-container">
          <div class="element bold">Years: </div>
          <div class="element"><div class="swath swath2010"><div class="legend-text">2010</div></div></div>
          <div class="element"><div class="swath swath2011"><div class="legend-text">2011</div></div></div>
          <div class="element"><div class="swath swath2012"><div class="legend-text">2012</div></div></div>
          <div class="element"><div class="swath swath2013"><div class="legend-text">2013</div></div></div>
          <div class="element"><div class="swath swath2014"><div class="legend-text">2014</div></div></div>
          <div class="element"><div class="swath swath2015"><div class="legend-text">2015</div></div></div>
          <div class="element"><div class="swath swath2016"><div class="legend-text">2016</div></div></div>
          <div class="element" id="element2017"><div class="swath swath2017"><div class="legend-text">2017</div></div></div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed">Lake level climbs</div>
        <div class="deck">
          The inflows of water caused Lake Oroville to fill toward its brim, which was great news for a drought-parched state but put pressure on dam operators to release water.
        </div>
        <div class="legend-container" id="legend-container-overlay">
          <div class="element long"><div class="swath long swathoutflow"><div class="legend-text long">2017 Outflow</div></div></div>
          <div class="element long"><div class="swath long swathreservoir"><div class="legend-text long">Reservoir level</div></div></div>
        </div>
        <div id="overlay-chart"></div>

        <div class="pad-class"></div>
        <div class="chart-hed">Water releases grow</div>
        <div class="deck">
          As Lake Oroville filled, dam operators had to bump up releases down the main spillway, with some limitations. Sending more water down the spillway can stress it. Meanwhile, a maximum of 150,000 cubic feet per second can flow down the Feather River without flooding downstream communities.
        </div>
        <div id="outflow-chart"></div>
        <div class="legend-container" id="legend-container">
          <div class="element bold">Years: </div>
          <div class="element"><div class="swath swath2010"><div class="legend-text">2010</div></div></div>
          <div class="element"><div class="swath swath2011"><div class="legend-text">2011</div></div></div>
          <div class="element"><div class="swath swath2012"><div class="legend-text">2012</div></div></div>
          <div class="element"><div class="swath swath2013"><div class="legend-text">2013</div></div></div>
          <div class="element"><div class="swath swath2014"><div class="legend-text">2014</div></div></div>
          <div class="element"><div class="swath swath2015"><div class="legend-text">2015</div></div></div>
          <div class="element"><div class="swath swath2016"><div class="legend-text">2016</div></div></div>
          <div class="element" id="element2017"><div class="swath swath2017"><div class="legend-text">2017</div></div></div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed graphic">Crisis hits</div>
        <div class="deck">
          On Feb. 7, dam operators noticed an unusual flow down the main spillway, halted releases and saw that erosion had opened a crater in the main spillway. Officials reduced releases but had to continue them as storm runoff pushed the reservoir toward capacity, causing the crater to grow. On Feb. 11, with lake levels still rising, water started to flow over the dam’s emergency spillway.
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville_DAMAGE1.png'></img>
            <img src='./assets/graphics/oroville_DAMAGE1.png' id="damage-graphic"></img>
          </div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed graphic">Emergency spillway erodes</div>
        <div class="deck">
          On Feb. 12, dam operators were shocked to learn that water pouring over the emergency spillway was chewing up the hillside beneath it. Officials feared the erosion could cause the emergency spillway to fail, sending a catastrophic amount of water downstream. They began to fortify the slope with boulders and poured concrete, while increasing releases from the damaged main spillway.
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville_EROSION2.png'></img>
          </div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed graphic">Evacuations ordered</div>
        <div class="deck">
          At about 4:45 p.m. Feb. 12, as damage continued to grow below the emergency spillway, the Butte County Sheriff's Office initiated evacuation orders for nearly 200,000 people. Authorities initially said the emergency spillway could fail within an hour, but it held. The evacuation order first affected residents in low-lying areas of Butte County, but was expanded to places farther south along the Feather River, including Yuba City (Sutter County) and Marysville (Yuba County).
        </div>
        <div class="graphic">
          <div class='inline-image graphic'>
            <img src='./assets/graphics/oroville_evac_areasNEW.png'></img>
          </div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed graphic">Residents stranded</div>
        <div class="deck">
          Evacuated residents of the downstream communities were forced to stay with family members, friends or at emergency shelters. At the Butte County Fairgrounds in Chico, Oroville residents Georgia Robert King, Jerry Lee Huggins and Anna Gibson slept outside, because pets weren't allowed inside.
        </div>
        <div class="image">
          <div class='inline-image'><img src='http://ww2.hdnux.com/photos/57/13/07/12460009/3/2000x0.jpg'></img></div>
          <div class='caption'>Max Whittaker/Prime, Special to The Chronicle</div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed">Lake levels fall</div>
        <div class="deck">
          By releasing water down the damaged main spillway, and by taking advantage of a break in the storms, dam operators were able to bring the lake level down, calming the crisis.
        </div>
        <div class="legend-container" id="legend-container-overlay">
          <div class="element long"><div class="swath long swathoutflow"><div class="legend-text long">2017 Outflow</div></div></div>
          <div class="element long"><div class="swath long swathreservoir"><div class="legend-text long">Reservoir level</div></div></div>
        </div>
        <div id="outflow2-chart"></div>

        <div class="pad-class"></div>
        <div class="chart-hed">Evacuees return</div>
        <div class="deck">
          By Feb. 13, with the main spillway releasing 100,000 cubic feet of water per second, the water level dropped. It was clear the emergency spillway would not have to be used again, at least anytime soon. The evacuation order was lifted Feb. 14, and people streamed back to their homes.
        </div>
        <div class="image">
          <div class='inline-image midsize'><img src='http://ww2.hdnux.com/photos/57/13/07/12366309/3/2000x0.jpg'></img></div>
          <div class='caption midsize'>Carlos Avila Gonzalez, The Chronicle </div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed">Damage assessed</div>
        <div class="deck">
          On Feb. 27, with the lake level down significantly, dam operators were able to stop water releases on the devastated main spillway. That allowed geologists to begin inspecting the vast canyon that had been dug out of the earth by the heavy flows down the hillside. The California Department of Water Resources must now figure out how the crippled chute, which is as wide as a 15-lane freeway, can possibly be fixed. The job may cost hundreds of millions of dollars.
        </div>
        <div class="image">
          <div class='inline-image'><img src='http://ww2.hdnux.com/photos/57/13/07/12486158/3/2000x0.jpg'></img></div>
          <div class='caption'>Santiago Mejia, The Chronicle</div>
        </div>

        <div class="pad-class"></div>
        <div class="chart-hed">Snowpack still worrisome</div>
        <div class="deck">
          This year’s trouble isn’t over. Snowpack in the mountains is near record highs across California, and as it melts this spring, the lake’s inflow to Lake Oroville and other reservoirs is likely to be large.
        </div>
        <div class="snow-info" id="snow-info">Current Sierra snowpack level:<div id="snowpack-num"></div></div>
        <div class="reservoir-info" id="reservoir-info">Current reservoir levels:</div>
        <div class="legend-container active" id="legend-container-final">
          <div class="element long"><div class="swath long swathtotal"><div class="legend-text long">Total reservoir capacity</div></div></div>
          <div class="element long"><div class="swath long swathfilled"><div class="legend-text long">Current reservoir storage</div></div></div>
        </div>
        <div id="future-chart"></div>

        <div class="pad-class"></div>
        <div class="chart-hed">Big test ahead</div>
        <div class="deck">
          While dam managers at Lake Oroville have been able to sufficiently release water down the Feather River using the crumbled main spillway, they wonder whether the chute will hold up to heavy spring runoff. Just in case, the state has been working to increase outflow capacity elsewhere. The dam’s hydroelectric plant, which was shut down after the main spillway fractured, is being reactivated and will not only generate power but offer another way to release water. Construction crews are also fortifying the emergency spillway.
        </div>
        <div class="image">
          <div class='inline-image midsize'><img src='http://ww2.hdnux.com/photos/57/13/07/12366385/3/2000x0.jpg'></img></div>
          <div class='caption midsize'>Michael Macor, The Chronicle</div>
        </div>

      </div>
    </div>

    <div id="credits-container">
      <div class="divider"></div>

      <div class="credits">
      <h2>Credits</h2>
      <div class="entry">Developers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
      <br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
      <div class="entry">Graphic designer:  <br>John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      <div class="entry">Reporter:  <br>Kurtis Alexander &bull; <a href="mailto:kalexander@sfchronicle.com">kalexander@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/kurtisalexander" target="_blank">@kurtisalexander</a></div>
      <div class="entry">Editors:  <br>Fernando Diaz  &bull; <a href="mailto:fdiaz@sfchronicle.com">fdiaz@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/thefuturewasnow" target="_blank">@thefuturewasnow</a>
      <br>Demian Bulwa  &bull; <a href="mailto:dbulwa@sfchronicle.com">dbulwa@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/demianbulwa" target="_blank">@demianbulwa</a>
      <br>Danielle Mollette-Parks  &bull; <a href="mailto:DMollette-Parks@sfchronicle.com">DMollette-Parks@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/daniellemparks" target="_blank">@daniellemparks</a>
      <br>Nicole Frugé  &bull; <a href="mailto:NFruge@sfchronicle.com">nfruge@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/PhotoFruge" target="_blank">@PhotoFruge</a></div>
      </div>

      <div class="divider bottom"></div>

      <div class="credits">
        <h2>About the data</h2>
        <div class="entry">Data is from <a href="http://cdec.water.ca.gov/" target="_blank">California Department of Water Resources.</a></div>
      </div>

      <div class="divider bottom"></div>

      <div class="dont-miss">
        <div class="story">
          <div class="padded">
          <a href="http://www.sfchronicle.com/bayarea/article/Riverbanks-collapse-after-Oroville-Dam-spillway-10976144.php" target="_blank">
            <img src="./assets/social/oroville1.jpg"></img>
          </a>
            <div class="small">Riverbanks collapse after Oroville Dam spillway shut off</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://www.sfchronicle.com/food/article/Rescuing-the-flood-threatened-Feather-River-salmon-10976099.php" target="_blank">
            <img src="./assets/social/oroville2.jpg"></img>
          </a>
            <div class="small">Rescuing the flood-threatened Feather River salmon</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://www.sfchronicle.com/news/article/Dams-remain-in-line-for-bulk-of-funding-over-10946521.php" target="_blank">
            <img src="./assets/social/oroville3.jpg"></img>
          </a>
            <div class="small">Dams remain in line for funding over cheaper alternatives</div>
          </div>
        </div>
        <div class="story">
          <div class="padded">
          <a href="http://www.sfchronicle.com/bayarea/article/Disturbing-deficiencies-seen-in-California-s-10943343.php" target="_blank">
            <img src="./assets/social/oroville4.jpg"></img>
          </a>
            <div class="small">Disturbing deficiencies seen in California’s dam safety efforts</div>
          </div>
        </div>
      </div>

      <footer class="nav-bottom">
        <a class="logo" href="http://www.sfchronicle.com">
          <img src="./assets/logos/sf_logo_white.png"></img>
        </a>
      </footer>

    </div>

    <script>
      var waterData = <%= JSON.stringify(json.FlowData) %>;
      var slideData = <%= JSON.stringify(json.Slideshow) %>;
      var reservoirData = <%= JSON.stringify(json.ReservoirHeight) %>;
      var rainData = <%= JSON.stringify(json.OrovilleRain) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
